<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="TodoListHadFinal"
        class="TodoListHadFinalProps"
    >
        <div
            magic="gAddToTo"
            class="gAddToToProps"
        >
            <input
                type="text"
                formControlName="NewToDo"
                magic="NewToDo"
                class="NewToDoProps"
            />
            <input
                type="button"
                magic="bAddToDo"
                class="bAddToDoProps"
                value=AddToDo
            />
            </div>
            <ndc-dynamic
                magic="MainCanvas"
                class="MainCanvasProps"
                [ndcDynamicComponent]="mgGetComp('MainCanvas')"
                [ndcDynamicInputs]="mgGetParameters('MainCanvas')"
            >
                </ndc-dynamic>
                <div
                    magic="gTotals"
                    class="gTotalsProps"
                >
                    <label
                        magic="lTotal"
                        class="lTotalProps mgFont1"
                    >
                        Total
                        </label>
                        <label
                            magic="TotalDone"
                            class="TotalDoneProps"
                        >
                            {{mgGetValue('TotalDone')}}
                            </label>
                            <label
                                magic="TotalRecords"
                                class="TotalRecordsProps"
                            >
                                {{mgGetValue('TotalRecords')}}
                                </label>
                                </div>
                                </div>
                                </form>