<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="ToDoListFinal"
    class="ToDoListFinalProps"
  >
    <!--adding Table heeader -->
    <table class="table table-striped table-condensed border table-hover table-sm">
      <thead class="thead-dark">
      <tr>
        <td scope="col" style="width: 60%">Descriptions</td>
        <td scope="col">End D.</td>
        <td scope="col">Priority</td>
        <td scope="col">Check</td>
        <td scope="col" class="td-actions">Actions</td>
      </tr>
      </thead>
      <!--changing Magic table to Table Body -->
      <tbody class="tbTaskList_table_rowProps">
      <tr *ngFor="let row of task.Records.list"
          [formGroup]="mgGetFormGroupByRow(row.rowId)"
          class="ToDoRowProps"
          magic="ToDoRow"
          [ngClass]="{ 'selected': isRowSelected('tbTaskList', row.rowId)}"
          magicMark="magicTableRowContainer"
      >
        <td magicMark="magicTableRowContainer">
          <label
            magic="Description"
            [rowId]="row.rowId"
            class="DescriptionProps hidden_border"
          >
            {{mgGetValue('Description', row.rowId)}}
          </label>
        </td>
        <!--date -->
        <td>
          <!--<p-calendar-->
            <!--formControlName="ToDoDate"-->
            <!--magic="ToDoDate"-->
            <!--[rowId]="row.rowId"-->
            <!--class="ToDoDateProps hidden_border"-->
          <!--&gt;</p-calendar>-->
          {{mgGetValue('ToDoDate',[row.rowId]) | date}}
        </td>
        <td>
          <!--ComboBox-->
          <select
            (change)="mgOnSelectionChanged($event,'cbPriority')"
            value="mgGetSelectedValue('cbPriority')"
            magic="cbPriority"
            [rowId]="row.rowId"
            class="cbPriorityProps"
            formControlName="cbPriority"
          >
            <option
              *ngFor="let o of mgGetListboxValues('cbPriority');"
              [selected]="o.index == mgGetSelectedValue('cbPriority')"
              [value]="o.index"
            >
              {{o.realString}}
            </option>
          </select>
        </td>
        <td magicMark="magicTableRowContainer">
          <mat-checkbox
            value=""
            magic="IsDone"
            [rowId]="row.rowId"
            class="IsDoneProps"
            (change)="mgOnCheckChanged($event,'IsDone', row.rowId)"
            formControlName="IsDone"
          >
          </mat-checkbox>
        </td>
        <td>
          <button mat-icon-button color="warn" magic="pbDel" [rowId]="row.rowId">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
