<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="ToDoListFinal"
    class="ToDoListFinalProps"
  >
    <!--adding Table heeader -->
    <table class="table table-striped table-condensed border table-hover table-sm">
      <thead class="thead-dark">
      <tr>
        <td scope="col" style="width: 60%">Descriptions</td>
        <td scope="col">Check</td>
        <td scope="col" class="td-actions">Actions</td>
      </tr>
      </thead>
      <!--changing Magic table to Table Body -->
      <tbody class="tbTaskList_table_rowProps">
      <tr *ngFor="let row of task.Records.list"
          [formGroup]="mgGetFormGroupByRow(row.rowId)"
          [ngClass]="{ 'selected': isRowSelected('tbTaskList', row.rowId)}"
          magic="ToDoRow"
          class="ToDoRowProps"
      >
        <td>
          <label
            magic="Description"
            [rowId]="row.rowId"
            class="DescriptionProps hidden_border"
          >
            {{mgGetValue('Description', row.rowId)}}
          </label>
        </td>
        <td>
          <mat-checkbox value=""
                        magic="IsDone"
                        [rowId]="row.rowId"
                        class="IsDoneProps"
                        (change)="mgOnCheckChanged($event,'IsDone', row.rowId)"
                        formControl="IsDone"
          >
          </mat-checkbox>
        <td>
          <button mat-icon-button color="warn" magic="pbDel" [rowId]="row,rowId">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
